{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Conoce Más
        </title>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="{%static '/app/css/CSS.css'%}">
    </head> 
    <body>
        <header>
            <div class="container__menu">
                <div class="logo">
                    <img src="{%static '/app/img/LOGO.jpg'%}" alt="">
                </div>
                <div class="menu">
                    <nav>
                        <ul>
                            <li><a href="{% url 'home' %}">Menú principal</a></li>               
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main>
            <div class="container__cover">
                <div class="cover">
                    <div class="textodetalle">
                    <div class="svg">
                        <h1>CONOCE MÁS</h1>
        <table>
            
        <tr>
            <td rowspan="5"> 
                <img src="{%static '/app/img/1D.jpg'%}" alt="Escritorio">
            </td>
        </tr>
        <tr>
            <td>
                <p>Group Cero se compone de un grupo de artístas dedicados a diversas ramas del arte. El trabajo cooperativo nos permitió tener un tallery una sala de exhibición para nuestros trabajos.
Estamos abiertos a compartir un pequeño café en una reunión para atenderte y ofrecerte nuestras mejores obras con todo el profesionalismo requerido. Amigos clientes no duden en consultarnos, será un placer asesorarlos y ayudarles en lo que necesiten.</p>
            </td>
        </tr>
        </table>
        </div>
        </div>
        </div>
        </div>
        </main>
    </body>
</html>
