<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Pintura 1
        </title>

        <link type="text/css" rel="stylesheet" href="../CSS.css">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head> 
    <body>
        <header>
            <div class="container__menu">
                <div class="logo">
                    <img src="../IMAGES/LOGO.jpg" alt="">
                </div>
                <div class="menu">
                    <nav>
                        <ul>
                            <li><a href="../HTML/Home.html">Menu principal</a></li>               
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main>
            <div class="container__cover">
                <div class="cover">
                    <div class="textodetalle">
                    <div class="svg">
                        <h1>CONOCE MÁS</h1>
        <table>
            
        <tr>
            <td rowspan="5"> 
                <img src="../IMAGES/1D.jpg" alt="Escritorio">
            </td>
        </tr>
        <tr>
            <td>
                <p>Group Cero se compone de un grupo de artístas dedicados a diversas ramas del arte. El trabajo cooperativo nos permitió tener un tallery una sala de exhibición para nuestros trabajos.
Estamos abiertos a compartir un pequeño café en una reunión para atenderte y ofrecerte nuestras mejores obras con todo el profesionalismo requerido. Amigos clientes no duden en consultarnos, será un placer asesorarlos y ayudarles en lo que necesiten.</p>
            </td>
        </tr>
        </table>
        </div>
        </div>
        </div>
        </div>
        </main>
    </body>
</html>
