{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Nacimiento de Venus
        </title>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device=width, initial-scale=1.0">
        <!--<tittle> Grupo Cero </tittle>-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="{%static '/app/css/CSS.css'%}">
        
    </head> 
    <body>
        <header>
            <div class="container__menu">
                <div class="logo">
                    <img src="{%static '/app/img/LOGO.jpg'%}" alt="">
                </div>
                <div class="menu">
                    <nav>
                        <ul>
                            <li><a class="a" href="{% url 'main_pinturas' %}">Pinturas</a></li>
                            <li><a href="{% url 'home' %}">Menú principal</a></li>               
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main>
            <div class="container__cover">
                <div class="cover">
                    <div class="textodetalle">
                    <div class="svg">
                        <h1>Nacimiento de Venus</h1>
        <table>
            
        <tr>
            <td rowspan="5">
                <img src="{%static '/app/img/venus.jpg'%}" alt="Escritorio">
            </td>
        </tr>
        <tr>
            <td>
                <p>Historia de la Pintura: "El Nacimiento de Venus" es una de las obras más famosas de Botticelli. Fue pintada para un miembro</br>
                de la familia Médici, para decorar uno de sus palacios de ocio en el campo.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Descripción: La figura de Venus se desdobla en dos versiones complementarias, la Venus celeste y la Venus terrenal, que simbolizan el amor espiritual y el amor material.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Nombre: "El Nacimiento de Venus"</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Precio: $92 Millones de Dólares</p>
            </td>
        </tr>
        <tr>
            <td>
            </br>
            </br>
                <p>Técnica usada: Esta obra fue realizada con la técnica de Temple. Para realizar la obra, Botticelli utiliza colores claros, suaves y refuerza
                los contornos de las figuras con líneas oscuras. Con el refuerzo de estas líneas el pintor provoca que las líneas de las figuras predominen sobre los colores utilizados.</p>
            </td>
        </tr>
        </table>
        </div>
        </div>
        </div>
        </div>
        </main>
    </body>
</html>
